/Debug
/buttoncontroller.elf (1).launch
/buttoncontroller.elf.launch
/buttoncontroller.ioc
/OSH_PB_controller.elf.launch
/build-OSHStudio-Desktop_Qt_5_9_2_MinGW_32bit-Release
/build-OSHStudio-Desktop_Qt_5_10_1_MinGW_32bit-Debug/
/build-OSHStudio-Desktop_Qt_5_10_1_MinGW_32bit-Release/
/build-OSHStudio-Desktop_Qt_5_10_1_MinGW_32bit-Profile/
/build-OSHStudio-Desktop_Qt_5_13_0_MinGW_32_bit-Debug/
/build-OSHStudio-Desktop_Qt_5_13_0_MinGW_32_bit-Profile/
/build-OSHStudio-Desktop_Qt_5_13_0_MinGW_32_bit-Release/
